In [2]:
#Basic

In [4]:
print("hello")

hello

In [6]:
#single line comment

'''Multiple
line 
comment'''

'Multiple\nline \ncomment'

In [7]:
#variable
a = 10
type(a)

int

In [8]:
print(a)

10

In [9]:
arup = 10 #variable can't start with number and we can use "-" between like a_b
avanindra = 5
college = "KIIT"

In [13]:
type(college)

str

In [14]:
arup + avanindra

15

In [15]:
a + arup

20

In [16]:
print(a+arup)

20

In [17]:
print(type(a))

<class 'int'>

In [19]:
#flooting variable

a= 190.5
a

190.5

In [20]:
print(type(a))

<class 'float'>

In [21]:
int(a)

190

In [22]:
#boolean
a1 = True
b1 = False

In [23]:
type(a1)

bool

In [24]:
a1 & b1

False

In [25]:
a1 and b1

False

In [26]:
a1 or b1

True

In [27]:
a1 | b1

True

In [28]:
#strings
name1  = "Arup"

print(name1)
print(type(name1))

Arup
<class 'str'>

In [29]:
name1 + " Ranjan"

'Arup Ranjan'

In [30]:
name1 + str(1)

'Arup1'

In [31]:
#complex numbers

j = 1.0-2.3j
j

(1-2.3j)

In [33]:
print(j.real , j.imag)

1.0 -2.3

In [35]:
#DynamicTyping

a = 10
a = 'Avanindra'
a

'Avanindra'

In [37]:
#strongTyping
a ="Avanindra"
a+str(1)

'Avanindra1'

In [38]:
#StringFormating
a =100
print("value is - ",a)

value is -  100

In [42]:
first_name = "Avanindra"
last_name = "Vijay"
print("first name is {} and last name is {}".format(first_name, last_name))

first name is Avanindra and last name is Vijay

In [44]:
print("first name is {0} and last name is {1}".format(last_name, first_name))

first name is Avanindra and last name is Vijay

In [45]:
#Input Type
input("Enter the name")

'Avanindra'

In [46]:
a = input("Number A")
b = input("Number B")
print(int(a)+int(b))

6